<canvas #rendererCanvas id="renderCanvas"></canvas>

<div class="search-container">
  <input 
    type="text" 
    placeholder="🔭 Localizar astro..." 
    [(ngModel)]="searchTerm" 
    (input)="onSearch()"
  >
  
  <ul class="search-results" *ngIf="searchResults.length > 0">
    <li *ngFor="let note of searchResults" (click)="focusOnNote(note)">
      <span class="result-title">{{ note.title }}</span>
      <span class="result-date">{{ note.date }}</span>
    </li>
  </ul>
</div>

<div class="overlay-container" *ngIf="selectedNote">
  <div class="note-card">
    
    <div class="header">
      <input *ngIf="isEditing" type="text" [(ngModel)]="selectedNote.title" placeholder="Dê um nome para este astro..." class="edit-title">
      <h2 *ngIf="!isEditing">{{ selectedNote.title ? selectedNote.title : 'Novo Astro' }}</h2>

      <button (click)="closeNote()">✖</button>
    </div>

    <p class="date">{{ selectedNote.date }}</p>

    <div class="content">
      <textarea *ngIf="isEditing" [(ngModel)]="selectedNote.content" rows="5" placeholder="Escreva sua ideia brilhante aqui..."></textarea>
      <p *ngIf="!isEditing" [class.empty-text]="!selectedNote.content">{{ selectedNote.content || 'Está nota está vazia...' }}</p>
    </div>

    <div class="actions">
      
      <ng-container *ngIf="selectedNote.id !== 1">
        
        <ng-container *ngIf="!isEditing">
          <button class="action-btn delete-btn" (click)="deleteCurrentNote()">
            Excluir 🗑️
          </button>
          
          <button class="action-btn" (click)="isEditing = true">
            Editar Nota ✏️
          </button>
        </ng-container>

        <button *ngIf="isEditing" class="action-btn save-btn" (click)="saveNote()">
          Salvar Alterações 💾
        </button>

      </ng-container>

      <p *ngIf="selectedNote.id === 1" class="read-only-msg">
        ⭐ Este é o núcleo do seu universo e não pode ser alterado.
      </p>

    </div>

  </div>
</div>

<div class="hint" *ngIf="!selectedNote">
  Clique em uma esfera para ler
</div>

<button class="fab-add" (click)="addNewNote()">
  +
</button>