<canvas #rendererCanvas id="renderCanvas"></canvas>

<div class="overlay-container" *ngIf="selectedNote">
  <div class="note-card">
    
    <div class="header">
      <input *ngIf="isEditing" type="text" [(ngModel)]="selectedNote.title" class="edit-title">
      <h2 *ngIf="!isEditing">{{ selectedNote.title }}</h2>

      <button (click)="selectedNote = null; isEditing = false">✖</button>
    </div>

    <p class="date">{{ selectedNote.date }}</p>

    <div class="content">
      <textarea *ngIf="isEditing" [(ngModel)]="selectedNote.content" rows="5" placeholder="Escreva sua ideia brilhante aqui..."></textarea>
      <p *ngIf="!isEditing" [class.empty-text]="!selectedNote.content">{{ selectedNote.content || 'Está nota está vazia...' }}</p>
    </div>

    <div class="actions">
      <ng-container *ngIf="!isEditing">
        <button class="action-btn delete-btn" (click)="deleteCurrentNote()">
          Excluir 🗑️
        </button>
        
        <button class="action-btn" (click)="isEditing = true">
          Editar Nota ✏️
        </button>
      </ng-container>

      <button *ngIf="isEditing" class="action-btn save-btn" (click)="saveNote()">
        Salvar Alterações 💾
      </button>
    </div>

  </div>
</div>

<div class="hint" *ngIf="!selectedNote">
  Clique em uma esfera para ler
</div>

<button class="fab-add" (click)="addNewNote()">
  +
</button>